header {
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 border-bottom: 1px solid black;
 padding: 10px 0;
 background: rgb(36,0,0);
 background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);
 position: relative;
 .search-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
 p {
   font-size: 20px;
   color: #ffff;
   margin-right: 15px;
  }
 a{
  @extend p;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease;
  transform: scale(1);
  &:hover{
  transform: scale(1.06);
  color:red;
  }
}
 .link-active{
  @extend a;
  color: red;
  text-decoration: underline;
 } 
 select {
 width: 250px;
 background-color: aqua;
 border-radius: 10px;
 padding: 0 15px;
 font-size: 20px;
 }
 input {
   width: 250px;
   background-color: white;
   border-radius: 10px;
   padding: 0 5px;
   font-size: 20px;
 }
    }

  .search__pop-up {
      width: 500px;
      height: 280px;
      background-color: #fff;
      position: absolute;
      left: 37%;
      top: 75%;
      border-radius: 15px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none; 
     }
     ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {  
         cursor: pointer;
         width: 90%;
          &:hover {
            background-color: gray;
          }
      }
      }
    }

}