.flags-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 89vh;
    background-color: aqua;

    img {
        width: 400px;
        height: 200px;
    }

    .answers-wrapper {
        width: 800px;
        height: 400px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 25px;

        &__answer-box {
           background-color: #ffffff; 
           width: 380px;
           height: 175px;
           border-radius: 15px;
           display: flex;
           align-items: center;
           justify-content: center;
           cursor: pointer; 
           font-size: 40px;
           transition: .5s ease;
           padding: 5px;

           &:hover {
            background-color: grey; 
           }
        }
    }
    .score-wrapper {
        display: flex;
        gap: 30px;
    }
    span{
       position: absolute;
       left: 10px;
       bottom: 10px;
    }
}